version: 2.1
orbs:
  maven: circleci/maven@0.0.12

jobs:
  build:
    docker:
      - image: circleci/node:jessie-browsers
    steps:
      - checkout
      - run: mkdir test-reports
      - run:
          name: Download Selenium
          command: curl -O http://selenium-release.storage.googleapis.com/3.5/selenium-server-standalone-3.141.59.jar
      - run:
          name: Start Selenium
          command: java -jar selenium-server-standalone-3.141.59.jar -log test-reports/selenium.log
          background: true
workflows:
  maven_test:
    jobs:
      - maven/test # checkout, build, test, and upload test results